@charset "UTF-8";
:root {
  --text-color: #000;
  --accent-color: #3d8eda;
  --secondary-color: #929292;
  --input-color: #636264;
  --input-border-color: #dedede;
  --icon-bg-color: #ebebeb;
  --bg-color: #fafafa;
  --bg-item-color: #fff;
  --font-base: "Roboto";
  --font-secondary: "Montserrat";
  --font-size-base: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: var(--font-base), sans-serif;
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--bg-color);
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.main {
  padding-bottom: 218px;
  position: relative;
}

.background-image {
  position: absolute;
}
.background-image.vector-top {
  left: 0;
  top: 0;
}
.background-image.vector-bottom {
  right: 0;
  bottom: 41px;
}

.container {
  max-width: 876px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Buttons */
.btn {
  line-height: normal;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-view {
  width: 24px;
  height: 24px;
}

.btn-download {
  display: block;
  padding: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
}
.is-grid .btn-download {
  margin-bottom: 0;
}

.btn-more {
  display: block;
  margin: 0 auto;
  padding: 8px 26px 7px;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--secondary-color);
  letter-spacing: -0.03em;
  border: 1px solid var(--secondary-color);
  border-radius: 14px;
}

/* Header */
.header {
  position: relative;
  padding: 6px 0 28px;
  background-color: rgba(255, 255, 255, 0.67);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 138px;
  height: 138px;
  margin-right: 86px;
}

/* NavBlock */
.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-bottom: 15px;
}

.nav-title {
  font-family: var(--font-secondary), sans-serif;
  font-size: 24px;
  letter-spacing: -0.01em;
}

.nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  margin-bottom: 19px;
}

.nav-number {
  font-weight: 700;
}

.nav-date {
  padding: 6px 12px;
  color: var(--accent-color);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.03em;
  border: 1px solid var(--accent-color);
}

.date-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-block-text {
  font-weight: 400;
  font-size: 16px;
}

.date-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.date-block-wrapper {
  position: relative;
}

.date-control {
  width: 162px;
  height: 28px;
  padding-left: 7px;
  font-size: 13px;
  color: var(--input-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.date-control::-webkit-input-placeholder {
  color: var(--input-color);
}
.date-control::-moz-placeholder {
  color: var(--input-color);
}
.date-control:-ms-input-placeholder {
  color: var(--input-color);
}
.date-control::-ms-input-placeholder {
  color: var(--input-color);
}
.date-control::placeholder {
  color: var(--input-color);
}
.date-control:focus {
  border: 1px solid var(--accent-color);
}

.datepicker-footer {
  opacity: 0;
  position: absolute;
  top: -27px;
  right: 89px;
  width: 26px;
  height: 26px;
}

.icon {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--icon-bg-color);
  pointer-events: none;
}

.icon-close {
  right: 27px;
  top: 1px;
  border-left: 1px solid var(--input-border-color);
  border-right: 1px solid var(--input-border-color);
}

.icon-calendar {
  right: 1px;
  top: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-view .icon-grid {
  display: inline-block;
  width: 22px;
  height: 22px;
  fill: red;
  cursor: pointer;
}

.icon-grid {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: -1px;
}

.icon-grid.is-active svg path {
  fill: #3D8EDA;
}

.icon-list {
  display: inline-block;
  width: 24px;
  height: 22px;
}

.icon-list svg path {
  fill: #C8C8C8;
}

.icon-list.is-active svg path {
  fill: #3d8eda;
}

.icon-fill {
  fill: #C8C8C8;
  background-color: red;
  /* Сірий колір за замовчуванням для неактивного стану */
}

.icon-list.is-active .icon-fill {
  fill: #3d8eda;
  /* Синій колір для активного стану */
}

.icon-like {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 4.3C0.499908 3.76177 0.607097 3.22893 0.815302 2.73261C1.02351 2.23629 1.32855 1.78644 1.71261 1.40937C2.09667 1.03229 2.55203 0.735553 3.05209 0.536489C3.55215 0.337424 4.08687 0.240029 4.625 0.249996C5.26172 0.246615 5.89189 0.378599 6.47374 0.637199C7.05559 0.8958 7.57584 1.27511 8 1.75C8.42416 1.27511 8.94441 0.8958 9.52626 0.637199C10.1081 0.378599 10.7383 0.246615 11.375 0.249996C11.9131 0.240029 12.4479 0.337424 12.9479 0.536489C13.448 0.735553 13.9033 1.03229 14.2874 1.40937C14.6714 1.78644 14.9765 2.23629 15.1847 2.73261C15.3929 3.22893 15.5001 3.76177 15.5 4.3C15.5 8.317 10.7157 11.35 8 13.75C5.29025 11.3297 0.5 8.32 0.5 4.3Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-comment {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 2C15.5 1.175 14.825 0.500002 14 0.500002H2C1.175 0.500002 0.5 1.175 0.5 2V11C0.5 11.825 1.175 12.5 2 12.5H12.5L15.5 15.5V2Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.view-controls-content {
  padding: 18px 0 23px;
}

.view-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 21px;
}

/* List of items */
.list {
  display: grid;
  gap: 16px 8px;
  margin-bottom: 33px;
}
.list.is-grid {
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-item-color);
}
.is-grid .list-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-item-image {
  width: 86px;
  height: 86px;
}
.is-grid .list-item-image {
  width: 100%;
  height: 203px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}
.is-grid .content-block {
  padding: 12px 12px 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.is-grid .content-info:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.content-value {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
}

.content-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}
.is-grid .content-raiting {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.content-raiting.date {
  gap: 26px;
}

.content-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.content-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.load-more-inner {
  text-align: center;
  padding-bottom: 61px;
}/*# sourceMappingURL=main.css.map */